In [2]:
print("hey",end = "-")
print("hello")

hey-hello

In [3]:
for i in range(1,4):
    print("Student",i)
    for j in range(1,5):
        print("Subject",j,end = " ")
    print("")

Student 1
Subject 1 Subject 2 Subject 3 Subject 4
Student 2
Subject 1 Subject 2 Subject 3 Subject 4
Student 3
Subject 1 Subject 2 Subject 3 Subject 4

In [10]:
for i in range(1,5):
    for j in range(1,5):
        print("* ",end = " ")
    print(" ")

*  *  *  *
*  *  *  *
*  *  *  *
*  *  *  *

In [9]:
for i in range(1,5):
    for j in range(1,5):
        print(j,end = " ")
    print(" ")

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [11]:
for i in range(1,5):
    for j in range(1,5):
        print(i,end = " ")
    print(" ")

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [15]:
temp = 3
for i in range(1,4):
    for j in range(1,4):
        print(temp,end = " ")
    temp -= 1
    print(" ")

3 3 3
2 2 2
1 1 1

In [21]:
for i in range(1,4):
    temp = 2
    for j in range(1,4):
        print(temp , end = " ")
        temp += 1
    print(" ")

2 3 4
2 3 4
2 3 4

In [18]:
temp = 1
for i in range(1,4):
    for j in range(1,4):
        print(temp,end=" ")
        temp += 1
    print(" ")

1 2 3
4 5 6
7 8 9

In [29]:
temp = 9
for i in range(1,4):
    for j in range(1,4):
        print(temp , end = " ")
        temp -= 1
    print(" ")

9 8 7
6 5 4
3 2 1

In [30]:
for i in range(1,6):
    for j in range(1,i+1):
        print("* ",end=" ")
    print(" ")

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [33]:
for i in range(1,5):
    for j in range(1,i+1):
        temp = 5
        print(temp,end=" ")
    print(" ")

5
5 5
5 5 5
5 5 5 5

In [34]:
for i in range(1,4):
    for j in range(1,i+1):
        print(j,end=" ")
    print(" ")

1
1 2
1 2 3

In [37]:
temp = 7
for i in range(1,4):
    for j in range(1,i+1):
        print(temp,end=" ")
        temp -= 1
    print(" ")

7
6 5
4 3 2